# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

**/__pycache__/
.pytest_cache/
env/

# PyPi
build/
dist/
yt2mp3.egg-info/
.eggs/
lib/

# ReadTheDocs
docs/_build/
docs/_static/
docs/_template/

# Testing
.coverage
tox.ini
