# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

**/__pycache__/
env/
.python-version

# PyPi
build/
dist/
*.egg-info/
.eggs/
lib/

# ReadTheDocs
docs/_build/
docs/_static/
docs/_template/

# Testing
tests/**/*
!tests/test_*
.pytest_cache/
.tox/
tox.ini
.coverage

README/*
docs/images/*_*
downloads.md
in.txt
stats.py
version.py
NOTES.md
TODO.md
